/* Ensure that the page fills the entire screen */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Hide horizontal overflow */
    box-sizing: border-box; /* Include padding in width/height calculation */
}

.row {
    display: flex; 
    flex-wrap: wrap;
    margin: 0; 
}

.col-md-6 {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}


.primaryclass {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
    padding: 20px;
    min-height: 70vh; 
    background-color: rgba(255, 255, 255, 0.05); 
    border-radius: 25px;
    min-width: 310px !important;
    color: white;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.7);
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: rgb(255, 255, 255,0.5) !important;
    text-align: center;
}

.primaryclass:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.phone-input {
    margin: 50px 0 20px;
    width: 100%; 
    max-width: 350px; 
}

/* Button Styling */
button {
    width: 100%; 
    max-width: 150px; 
    padding: 10px 15px;
    margin-bottom: 15px;
    max-height: fit-content;
}

    button i {
        margin-right: 8px;
    }


.modal-content {
    max-height: 90vh;
    overflow-y: auto;
}

nav {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-link, .navbar-brand {
    color: white !important;
}


/* Styling for Footer */
footer {
    background-color: rgba(0, 0, 0, 0.2) !important;
    padding: 10px 0; 
    position: relative;
    width: 100%;
    bottom: 0;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.7);
}

    footer .list-inline-item {
        margin-right: 10px; 
    }

    footer .footer-text {
        font-size: 0.85rem;
    }

    footer .list-inline {
        margin-top: 5px; 
    }

    footer .btn-outline-light {
        font-size: 0.85rem;
        padding: 5px 10px; 
    }

        footer .btn-outline-light i {
            margin-right: 5px; 
        }


@media (max-width: 576px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    
    .btn-success, .btn-danger {
        max-width: 100%;
    }

    .phone-input {
        margin: 15px 0;
    }

    button {
        width: 100%; 
        max-width: 100%;
    }

    /* Text Styling */
    .footer-text {
        font-size: 0.75rem; 
    }
}
